body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("image/eid-ul-adha.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 8%; */
    padding: 0;
  }

  .heading{
    text-align: center;
    margin-top: 50px;
  }

  .heading > h1 {
    font-size: 55px;
  }

  .text{
    margin-top: 50px;
    display: flex;
    justify-content:center
  }

  .texts{
    font-size: 25px;
      margin-top: 5px;
      /* background-color: black; */
      color: black;
      text-align: center;
      width: 7%;
      height: 5%;
      margin-left: 10px;
  }
  
  .box {
    /* text-align: center; */
    margin-top: 0px;
    display: flex;
    justify-content:center
  }
  
  .boxes {
      font-size: 50px;
      margin-top: 20px;
      background-color: black;
      color: #f4f4f4;
      text-align: center;
      width: 7%;
      height: 5%;
      margin-left: 10px;
      border-radius: 25px;
  }
  

  #arrived{
    font-size: 60px;

    text-align: center;
    background-color: black;
    color: #f4f4f4;
    margin-top: 20px;

    height: 50%;
  }